<div class="hero-unit">
	<div class="container">
		<h1>Der Leitfaden zur richtigen Bewerbung.</h1>
		<h2>4 Schritte zum neuen Job.</h2>
		<ul class="row">
			<li class="span3 selbst float-up">
				<p class="first_paragraph">Selbstreflexion</p>
				<p class="second_paragraph">Was ist der richtige Beruf für mich? Wo will ich hin?</p>
			</li>
			<li class="span3 unterlagen float-up">
				<p class="first_paragraph">Unterlagen</p>
				<p class="second_paragraph">Hier findest du die besten Muster und Vorlagen.</p>
			</li>
			<li class="span3 vorbereitung float-up">
				<p class="first_paragraph">Vorbereitung</p>
				<p class="second_paragraph">Was benötige ich? Wie kann ich hervorstechen?</p>
			</li>
			<li class="span3 ueberzeugen float-up">
				<p class="first_paragraph">Überzeugen</p>
				<p class="second_paragraph">Alles was du brauchst um das Bewerbungsgespräch meistern.</p>
			</li>
		</ul>
	</div>
</div>

<div class="container">
	<div class="row get-started-now">
		<div class="span10 offset1 white-panel button-text-panel">
			<h2>Hier findest du die besten Jobangebote:</h2>
		</div>
	</div>
	
	<div class="row logoset">
			<a href="http://www.karriere.at" target="_blank"><%= image_tag "karriereat.png"%></a>
			<a href="http://www.stellenangebote.at" target="_blank"><%= image_tag "stellenangebote.png"%></a>
			<a href="http://www.careesma.at" target="_blank"><%= image_tag "careesma.png"%></a>
			<a href="http://www.monster.at" target="_blank"><%= image_tag "monster.png"%></a>
			<a href="http://www.unijobs.at" target="_blank"><%= image_tag "unijobs.png"%></a>
			
	</div>
	
	
<!-- BOX SELBSTREFLEXION -->	

	<div class="row">
		<div class="span12 white-panel better-manage">
			<div class="container">
				<div class="row">
					
					<div class="span5">
						<div class="padding-large">
							<h2>Selbstreflexion</h2>
							<ul class="green-checks">
								<li>Lerne dich besser kennen!</li>
								<li>Welches Persönlichkeitsprofil hast du?</li>
								<li class="linebreak">Welche Berufe passen zu dir?</li>
								<li>Was sind deine Stärken?</li>
								<li>Was möchtest du erreichen?</li>
								<li class="linebreak">Buchtipps:</li>
							</ul>
						</div>
					</div>
					
					
					<div class="span7 box_rechts">
						<p class="boxpara" id="test1">Hier findest du einen umfangreichen Persönlichkeitstest:</p>
						<a href="http://www.gerstbach.at/survey/index.php?sid=29748" target="_blank"><%= image_tag "gerstbach.png"%></a>
						<p class="boxpara" id="test2">Beantworte diesen Test und finde heraus was deine Traumjobs sind:</p>
						<a href="http://www.berufskompass.at" target="_blank"><%= image_tag "berufskompass.png"%></a><br>
						<a href="http://www.amazon.de/Traum-Job-Now-Geheimnisse-erfolgreichen/dp/345368009X/ref=sr_1_1?ie=UTF8&qid=1358103987&sr=8-1" target="_blank"><%= image_tag "traumjob.jpg", class: "book" %></a>
						<a href="http://www.amazon.de/Finde-den-dich-gl%C3%BCcklich-macht/dp/359338390X/ref=sr_1_2?ie=UTF8&qid=1358103987&sr=8-2" target="_blank"><%= image_tag "jobglueck.jpg", class: "book" %></a>
						<a href="http://www.amazon.de/Eigentlich-w%C3%A4r-ich-gern/dp/3593390965/ref=sr_1_5?ie=UTF8&qid=1358190357&sr=8-5" target="_blank"><%= image_tag "eigentlich.jpg", class: "book" %></a>
					</div>
					
				</div>
				
			</div>
			
		</div>
		
	</div>

	<!-- BOX UNTERLAGEN-->

		<div class="row">
			<div class="span12 white-panel better-manage">
				<div class="container">
					<div class="row cf">
						

						<div class="span5">
							<div class="padding-large">
								<h2>Unterlagen</h2>
								<ul class="green-checks">
									<li>Welche Bewerbungsunterlagen werden verlangt?</li>
									<li>Verwende das modernste Design!</li>
									<li id="linebreak">Wie kannst du hervorstechen?</li>
									<li>Tips und Tricks für deine Bewerbung!</li>
									<li>Füge den Unterlagen deinen Bewerbungsclip hinzu!</li>
								</ul>
								<a href="signup" class="btn btn-warning btn-large">Mein Bewerbungsclip</a>
							</div>
						</div>					

						<div class="span7 box_rechts">
							<p class="boxpara" id="test1">Hier findest du die besten Vorlagen & Muster für deine Bewerbung:</p>
							<a href="http://www.bewerbungsmappen.de" target="_blank"><%= image_tag "bewerbungsmappen.png"%></a>
							<p class="boxpara" id="test2">Hier findest du 2 sehr informative Videos zum Thema Unterlagen:</p>
							<a href="http://www.youtube.com/watch?v=97-_essbX-w" target="_blank"><%= image_tag "youtube.png", class: "youtube"%></a>
							<a href="http://www.youtube.com/watch?v=ccRZfDIqPA4" target="_blank"><%= image_tag "youtube.png", class: "youtube"%></a>
						</div>

					</div>

				</div>

			</div>

		</div>
	
<!-- BOX VORBEREITUNG-->

	<div class="row">
		<div class="span12 white-panel better-manage">
			<div class="container">
				<div class="row cf">
					
					<div class="span5">
						<div class="padding-large">
							<h2>Selbstreflexion</h2>
							<ul class="green-checks">
								<li>Lerne dich besser kennen?</li>
								<li>Welches Persönlichkeitsprofil hast du?</li>
								<li>Welche Berufe passen zu dir?</li>
								<li>Was sind deine Stärken?</li>
								<li>Was möchtest du erreichen?</li>
							</ul>
							<a href="signup" class="btn btn-warning btn-large">Get Started Now</a>
							<p class="small-text">30 day free trial, no credit card required.</p>
						</div>
					</div>
					
					
					<div class="span7 slider-container">
						<ul class="slider pull-right">
							<li></li>
						</ul>
					</div>
					
				</div>
				
			</div>
			
		</div>
		
	</div>
	
</div>