<div class="row-fluid container-fluid">
  <div class="span4 offset4 header_form">
    <h1>Log In</h1>
  </div>
</div>

<div class="row-fluid container-fluid">
  <div class="span4 offset4">
    <%= form_for(:session, url: sessions_path) do |f| %>

      <%= f.label :email %>
      <%= f.text_field :email %>

      <%= f.label :password %>
      <%= f.password_field :password %>

      <%= f.submit "Sign in", class: "btn btn-large btn-success" %>
    <% end %>

    <p>Du hast noch kein Konto? <%= link_to "Registriere dich!", signup_path %></p>
  </div>
</div>