<p id="notice"><%= notice %></p>

<p>
  <b>User:</b>
  <%= @template.user_id %>
</p>

<p>
  <b>Template:</b>
  <%= @template.id %>
</p>

<p>
  <b>User name:</b>
  <%= @template.user_name %>
</p>

<p>
  <b>For company:</b>
  <%= @template.for_company %>
</p>

<p>
  <b>Video location:</b>
  <%= @template.video %>
</p>


<div id="videos">
 
    <div class="video">
      <%= video_tag @template.video, size: "640x436", controls: true %></div>
      <div class="actions">
        <%= link_to "edit", edit_template_path(@template) %> |
        <%= link_to "remove", @template, confirm: 'Are you sure?', method: :delete %>
      </div>
 
</div>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', current_user %>
