<header class="header">
	<div class="row">
		<div class="span3">
    	<h1 class="logo">
				<a href="#">
					<%= image_tag "user_icon.png"%></a>
			</h1>
		</div>

		<div class="menu span9 pull-right">
			<ul class="menu-list">
				<li class="menu-item">
					<%= link_to "Startseite", root_path %>
				</li>
				<li class="menu-item">
					<%= link_to "Tour", tour_path %>
				</li>
				<li class="menu-item highlight-item">
					<%= link_to "Tipps zur Bewerbung", wissen_path %>
				</li>
		<% if signed_in? %>
				<li id="fat-menu" class="dropdown">
				  <a href="#" class="dropdown-toggle" data-toggle="dropdown">
				    Account <b class="caret"></b>
				  </a>
          <ul class="dropdown-menu">
          	<li><%= link_to "Video", current_user %></li>
          	<li><%= link_to "Konto", '#' %></li>
          	<li class="divider"></li>
          	<li>
            <%= link_to "Sign out", signout_path, method: "delete" %>
          	</li>
          </ul>
        </li>
		<% else %>
				<li class="menu-item login-item">
					<a href="#" class="btn btn-inverse btn-mini">Login</a>
				</li>
		<% end %>
			</ul>
		</div>
	</div>
</header>